@font-face {
    font-family: "IBMPlexSans";
    src: url("./Fonts/IBMPlexSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/IBMPlexSans-Regular.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/IBMPlexSans-Regular.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/IBMPlexSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/IBMPlexSans-Regular.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/IBMPlexSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "Sunflower-Medium";
    src: url("./Fonts/Sunflower-Medium.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Medium.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Medium.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Medium.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sunflower-Bold";
    src: url("./Fonts/Sunflower-Bold.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Bold.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Bold.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Bold.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sunflower-Light";
    src: url("./Fonts/Sunflower-Light.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Light.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Light.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Light.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 100vw;
    height: 100vh;

    .app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 994px;
        height: auto;
        .header{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            height: 230px;
            .branding{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 50%;
               // margin-bottom: 22px;
                color: #010101;
                font-family: 'Sunflower-Medium';
                .name{
                    font-size: 48px;
                    margin: 162px 0px 0px 50px;
                }
                .industry{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-size: 20px;
                    margin: 171px 0px 0px 20px;
                    line-height: 20px;
                    .line1{
                        display: flex;
                    }
                    .line2{
                        display: flex;
                    }
                }
            }
            .navigation{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 25%;
                background-color: #010101;
                padding: 192px 50px 0px 199px;

                .notCurrent{
                    color: white;
                    text-decoration: none;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                }
                .current{
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #FB8B24;
                    color: white;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                }
            }
        

        }
        .footer{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            height: 66px;
            background-color: #fafbfa;
            color: #3A3A3A;
            font-family: 'IBMPlexSans';
            font-size: 12px;
        }
        .footer__copyright{
            margin: 38px 50px 0px 0px;
        }
        .content {
            background-color: #FFFFFF;
            margin-top: 3px;
            width: 100%;
            height: auto;
            .homeGallery{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: auto;
                width: 100%;
                height: auto;
                background-color:#ffffff;
                .column1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: auto;
                    height: auto;

                    .blockA{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .blockB{
                        width: 247px;
                        height: 144px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .blockC{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }

                }
                .column2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: auto;
                    height: auto;
                    margin: 0px 2px;

                    .blockD{
                        display: flex;
                        width: 496px;
                        height: 143px;
                        background-color: #acacac;
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .blockE{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: auto;
                        height: auto;
                        .blockE_left{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: auto;
                            height: auto;
                            .blockE_leftTop{
                                width: 247px;
                                height: 288px;
                                background-color: rgb(172, 172, 172);
                                margin-right: 2px;
                                margin-bottom: 2px;
                                img{
                                    display: flex;
                                    width: 100%;
                                    height: 100%
                                }
                            }
                            .blockE_leftBottom{
                                width: 247px;
                                height: 144px;  
                                background-color: rgb(172, 172, 172);
                                img{
                                    display: flex;
                                    width: 100%;
                                    height: 100%
                                }

                            }
                        }
                        .blockE_right{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            width: auto;
                            height: auto;
                            .blockE_rightTop{
                                width: 247px;
                                height: 143px;  
                                background-color: rgb(172, 172, 172);
                                margin-bottom: 2px;
                                img{
                                    display: flex;
                                    width: 100%;
                                    height: 100%
                                }

                            }
                            .blockE_rightBottom{
                                width: 247px;
                                height: 288px;  
                                background-color: rgb(172, 172, 172);
                                img{
                                    display: flex;
                                    width: 100%;
                                    height: 100%
                                }

                            }
                        }
                    }
                    .blockF{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 496px;
                        height: 143px;
                        background-color: #010101;
                        margin-top: 2px;
                        color: white;
                        font-family: 'IBMPlexSans';
                        font-size: 16px;
                    }
                    .blockF__loadMore{
                        padding-top: 10px;
                    }
                    .blockF__downArrow{
                        padding-top: 10px;
                    }
                }
                .column3{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: auto;
                    height: auto;
                    .blockG{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .blockH{
                        width: 247px;
                        height: 144px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .blockI{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }

                    }
                }
            }
            .projectContainer{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                background-color: #FFFFFF;
                .projMain{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    height: 435px;

                    .projNav{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 111px;
                        height: 100%;
                        background-color: #010101;
                        
                        .projPrev{
                            padding: 38px 25px 0 25px;
                            margin-bottom: -20px;
                        }
                        .projNum{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            width: auto;
                            height: auto;
                            color: #FFFFFF;
                            font-size: 137px;
                            font-family: 'IBMPlexSans';
                            transform: rotate(90deg);
                            margin: 5px 0 0 -9px;
                        }
                        .projNext{
                            padding: 0px 25px 0 25px;
                            margin-top: -11px;
                        }
                    }
                    .projInfo{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 385px;
                        height: 100%;
                        background-color: #FAFBFA;
                        .projName{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            color: #4EA9B9;
                            font-family: 'Sunflower-Medium';
                            font-size: 36px;
                            padding: 48px 0px 0px 29px;
                        }
                        .projHeading{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            color: #010101;
                            font-family: 'IBMPlexSans';
                            font-size: 18px;
                            padding: 13px 0px 0px 29px;
                        }
                        .projDescription{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            color: #010101;
                            font-family: 'IBMPlexSans';
                            font-size: 16px;
                            line-height: 33px;
                            padding: 15px 50px 0px 29px;
                        }

                    }
                    .projImage{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        background-color: #FFFFFF;
                        width: 497px;
                        height: 100%;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%;
                        }

                    }
                }
                .projDetailTab{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 100%;
                    // height: auto;

                    .sideRectangle{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 111px;
                        background-color: #fafbfa;
                        height: auto;
                        .sideRectangleTop{
                            width: 100%;
                            background-color: #ffffff;
                            height: 72px;
                        }
                    }
                        .Collapsible {
                            width: 882px;
                            .carousel{
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                height: 439px;
                            }
                            .carousel__image{
                                width: 637px;
                                height: 439px;
                                background-color: red;
                            }
                            .carousel__blurb{
                                width: 247px;
                                height: 439px;
                            }
                            .carousel__blurb-top{
                                background-color: #010101;
                                width: 100%;
                                height: 309px;
                                font-family: 'IBMPlexSans';
                                font-size: 16px;
                                color: #FFFFFF;
                                .actualBlurb{
                                    padding: 51px 50px 45px 24px;
                                }
                            }
                            .carousel__blurb-bottom{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 50px;

                                .prevSlide {
                                    display: flex;
                                    margin-right: 40px;
                                }
                                .emptyDot{
                                    width: 7px;
                                    height: 7px;
                                    border: 1px solid #010101;
                                    background-color: white;
                                    //border-radius: 50%;

                                }
                                .filledDot{
                                    width: 7px;
                                    height: 7px;
                                    background-color: #010101;
                                    border: 1px solid #010101;
                                    //border-radius: 50%
                                }
                                .slideTwoDot{
                                    margin: 0px 7px;
                                }
                                .nextSlide {
                                    display: flex;
                                    margin-left: 40px;
                                }
                            }
                            span{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                height: 50px;
                                
                            }
                        }
                        .Collapsible__trigger {
                            display: block;
                            font-weight: 400;
                            text-decoration: none;
                            color: orange;
                            position: relative;
                            border: 1px solid white;
                            padding: 10px 10px 10px 29px;
                            background: #FFFFFF;
                            color: #010101;
                          
                          
                            &:after {
                            //   font-family: 'FontAwesome';
                            //   content: '\f107';
                              content: url('./Icons/expand.png');
                              position: absolute;
                              right: 507px;
                              top: 28px;
                              display: block;
                              transition: transform 300ms;
                            }
                          
                            &.is-open {
                              &:after {
                                transform: rotateZ(45deg);
                              }
                            }
                          
                            &.is-disabled {
                              opacity: 0.5;
                              background-color: grey;
                            }
                          }
                }

            }
        }
    }

  }

//   .active {
//     text-decoration: underline;
//     text-underline-position: under;
//     text-decoration-color: #FB8B24;
//     color: white;
//   }

// html{

//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     background-color: white;
//     width: 100vw;
//     height: 100vh;

    // .App{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     width: 994px;
    //     height: auto;
    //     // width: 80vw;
    //     // height: 100vh;

    //     .header{
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: flex-start;
    //         width: 100%;
    //         height: 230px;
    //         // width: 100%;
    //         // height: 20%;
    //         background-color: white;
    //         .branding{
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: flex-start;
    //             width: 50%;
    //             margin-bottom: 22px;
    //             color: #010101;
    //             font-family: 'Sunflower-Medium';
    //             .name{
    //                 font-size: 48px;
    //                 margin: 150px 0px 0px 50px;
    //             }
    //             .industry{
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: flex-start;
    //                 font-size: 20px;
    //                 margin: 160px 0px 0px 19px;
    //                 line-height: 20px;
    //                 .line1{
    //                     display: flex;
    //                 }
    //                 .line2{
    //                     display: flex;
    //                 }
    //             }
    //         }
    //         .NavBar{
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: flex-end;
    //             width: 50%;
    //             background-color: #010101;
    //             font-family: 'IBMPlexSans';
    //             font-size: 16px;
    //             color: white;
    //         }
    //         .NavBar__menu{
    //             display: flex;
    //             flex-direction: row;
    //             width: 270px;
    //             justify-content: space-between;
    //             margin: 180px 50px 0px 0px;
    //             .activePage{
    //                 text-decoration: underline;
    //                 text-underline-position: under;
    //                 text-decoration-color: #FB8B24;
    //             }
    //         }

    //     }

    //     .body{
    //         width: 100%;
    //         height: auto;
    //         // width: 100%;
    //         // height: 70%;
    //         .homeGallery{
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: space-around;
    //             height: auto;
    //             width: 100%;
    //             height: auto;
    //             // width: 100%;
    //             // height: 100%;
    //             background-color:#ffffff;
    //             .column1{
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;
    //                 width: auto;
    //                 height: auto;

    //                 .blockA{
    //                     width: 247px;
    //                     height: 288px;
    //                     background-color: rgb(172, 172, 172);
    //                     margin-bottom: 2px;
    //                 }
    //                 .blockB{
    //                     width: 247px;
    //                     height: 144px;
    //                     background-color: rgb(172, 172, 172);
    //                     margin-bottom: 2px;

    //                 }
    //                 .blockC{
    //                     width: 247px;
    //                     height: 288px;
    //                     background-color: rgb(172, 172, 172);

    //                 }

    //             }
    //             .column2{
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;
    //                 width: auto;
    //                 height: auto;
    //                 margin: 0px 2px;

    //                 .blockD{
    //                     display: flex;
    //                     width: 496px;
    //                     height: 143px;
    //                     background-color: #acacac;
    //                     margin-bottom: 2px;

    //                 }
    //                 .blockE{
    //                     display: flex;
    //                     flex-direction: row;
    //                     justify-content: center;
    //                     width: auto;
    //                     height: auto;
    //                     .blockE_left{
    //                         display: flex;
    //                         flex-direction: column;
    //                         justify-content: flex-start;
    //                         width: auto;
    //                         height: auto;
    //                         .blockE_leftTop{
    //                             width: 247px;
    //                             height: 288px;
    //                             background-color: rgb(172, 172, 172);
    //                             margin-right: 2px;
    //                             margin-bottom: 2px;
    //                         }
    //                         .blockE_leftBottom{
    //                             width: 247px;
    //                             height: 144px;  
    //                             background-color: rgb(172, 172, 172);

    //                         }
    //                     }
    //                     .blockE_right{
    //                         display: flex;
    //                         flex-direction: column;
    //                         justify-content: flex-start;
    //                         width: auto;
    //                         height: auto;
    //                         .blockE_rightTop{
    //                             width: 247px;
    //                             height: 143px;  
    //                             background-color: rgb(172, 172, 172);
    //                             margin-bottom: 2px;

    //                         }
    //                         .blockE_rightBottom{
    //                             width: 247px;
    //                             height: 288px;  
    //                             background-color: rgb(172, 172, 172);

    //                         }
    //                     }
    //                 }
    //                 .blockF{
    //                     display: flex;
    //                     flex-direction: column;
    //                     justify-content: center;
    //                     align-items: center;
    //                     width: 496px;
    //                     height: 143px;
    //                     background-color: #010101;
    //                     margin-top: 2px;
    //                     color: white;
    //                     font-family: 'IBMPlexSans';
    //                     font-size: 16px;
    //                 }
    //                 .blockF__loadMore{
    //                     padding-top: 10px;
    //                 }
    //                 .blockF__downArrow{
    //                     padding-top: 10px;
    //                 }
    //             }
    //             .column3{
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: center;
    //                 width: auto;
    //                 height: auto;
    //                 .blockG{
    //                     width: 247px;
    //                     height: 288px;
    //                     background-color: rgb(172, 172, 172);
    //                     margin-bottom: 2px;
    //                 }
    //                 .blockH{
    //                     width: 247px;
    //                     height: 144px;
    //                     background-color: rgb(172, 172, 172);
    //                     margin-bottom: 2px;
    //                 }
    //                 .blockI{
    //                     width: 247px;
    //                     height: 288px;
    //                     background-color: rgb(172, 172, 172);

    //                 }
    //             }
    //         }
    //         .projectMain{
    //             width: 100%;
    //             height: 100%;
    //             background-color:lightpink;
    //         }
    //         .aboutPage{
    //             width: 100%;
    //             height: 100%;
    //             background-color:lightsalmon;
    //         }
    //         .contactPage{
    //             width: 100%;
    //             height: 100%;
    //             background-color:lightsteelblue;
    //         }
    //     }

    //     .footer{
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: flex-end;
    //         width: 100%;
    //         height: 66px;
    //         background-color: #fafbfa;
    //         color: #3A3A3A;
    //         font-family: 'IBMPlexSans';
    //         font-size: 12px;
    //     }
    //     .footer__copyright{
    //         margin: 38px 50px 0px 0px;
    //     }
    // }
    // }