@font-face {
  font-family: "IBMPlexSans";
  src: url("./Fonts/IBMPlexSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("./Fonts/IBMPlexSans-Regular.otf") format("opentype"), url("./Fonts/IBMPlexSans-Regular.svg") format("svg"), url("./Fonts/IBMPlexSans-Regular.ttf") format("truetype"), url("./Fonts/IBMPlexSans-Regular.woff") format("woff"), url("./Fonts/IBMPlexSans-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Medium";
  src: url("./Fonts/Sunflower-Medium.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Sunflower-Medium.eot?#iefix") format("embedded-opentype"), url("./Fonts/Sunflower-Medium.otf") format("opentype"), url("./Fonts/Sunflower-Medium.svg") format("svg"), url("./Fonts/Sunflower-Medium.ttf") format("truetype"), url("./Fonts/Sunflower-Medium.woff") format("woff"), url("./Fonts/Sunflower-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Bold";
  src: url("./Fonts/Sunflower-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Sunflower-Bold.eot?#iefix") format("embedded-opentype"), url("./Fonts/Sunflower-Bold.otf") format("opentype"), url("./Fonts/Sunflower-Bold.svg") format("svg"), url("./Fonts/Sunflower-Bold.ttf") format("truetype"), url("./Fonts/Sunflower-Bold.woff") format("woff"), url("./Fonts/Sunflower-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Light";
  src: url("./Fonts/Sunflower-Light.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Sunflower-Light.eot?#iefix") format("embedded-opentype"), url("./Fonts/Sunflower-Light.otf") format("opentype"), url("./Fonts/Sunflower-Light.svg") format("svg"), url("./Fonts/Sunflower-Light.ttf") format("truetype"), url("./Fonts/Sunflower-Light.woff") format("woff"), url("./Fonts/Sunflower-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

body .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 994px;
  height: 107vh;
}

body .app .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 230px;
}

body .app .header .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  height: 100%;
  color: #010101;
  font-family: 'Sunflower-Medium';
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

body .app .header .branding .name {
  font-size: 48px;
  margin: 0px 0 13.5px 50px;
}

body .app .header .branding .industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  margin: 0px 0 25px 19px;
  line-height: 20px;
}

body .app .header .branding .industry .line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .app .header .branding .industry .line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .app .header .burgerMenu {
  display: none;
}

body .app .header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  background-color: #010101;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

body .app .header .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 52%;
  padding: 0 50px 23.5px 0;
}

body .app .header .navigation__menu .notCurrent {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'IBMPlexSans';
  font-size: 1em;
}

body .app .header .navigation__menu .current {
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: #FB8B24;
          text-decoration-color: #FB8B24;
  color: #FFFFFF;
  font-family: 'IBMPlexSans';
  font-size: 1em;
}

body .app .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 66px;
  background-color: #FAFBFA;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 12px;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

body .app .footer__copyright {
  margin: 38px 50px 0px 0px;
}

body .app .content {
  background-color: #FFFFFF;
  margin-top: 3px;
  width: 100%;
  height: auto;
}

body .app .content .homeGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  width: 100%;
  margin-top: 10px;
  background-color: #FFFFFF;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

body .app .content .homeGallery .homeGallery__Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-a {
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-a .cardFull {
  width: 240px;
  height: 335px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-a .cardFull img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-b .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-b .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-b .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-b .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-c .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-c .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-c .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-c .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d {
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d .cardFull {
  width: 240px;
  height: 335px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d .cardFull img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-e .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-e .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-e .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-e .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-f {
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-f .cardFull {
  width: 240px;
  height: 335px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-f .cardFull img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-g .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-g .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-g .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-g .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  -webkit-animation: transitionIn 1.5s;
          animation: transitionIn 1.5s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardI .cardFull {
  width: 240px;
  height: 335px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardI .cardFull img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardK {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardK .cardTwoThirds {
  width: 240px;
  height: 220px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardK .cardTwoThirds img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardK .cardThird {
  width: 240px;
  height: 105px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardK .cardThird img {
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardL .cardFull {
  width: 240px;
  height: 335px;
  background-color: lightgray;
}

body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardL .cardFull img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

body .app .content .homeGallery .loadMoreButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #010101;
  color: #FFFFFF;
  font-family: 'IBMPlexSans';
  font-size: 16px;
}

body .app .content .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

body .app .content .projectContainer .projMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

body .app .content .projectContainer .projMain .projMain__Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: auto;
}

body .app .content .projectContainer .projMain .projMain__Left-Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 22%;
  height: auto;
  background-color: #010101;
  white-space: nowrap;
  overflow: hidden;
}

body .app .content .projectContainer .projMain .projMain__Left-Nav .Prev {
  padding: 36% 17% 12% 17%;
}

body .app .content .projectContainer .projMain .projMain__Left-Nav .Num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  color: #FFFFFF;
  font-size: 8.1em;
  font-family: 'IBMPlexSans';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 12% 0% 0% 0%;
  line-height: 75%;
}

body .app .content .projectContainer .projMain .projMain__Left-Nav .Next {
  padding: 16% 17% 0% 17%;
}

body .app .content .projectContainer .projMain .projMain__Left-Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 78%;
  height: auto;
  background-color: #FAFBFA;
}

body .app .content .projectContainer .projMain .projMain__Left-Info .Name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #4EA9B9;
  font-family: 'Sunflower-Medium';
  font-size: 36px;
  padding: 48px 0px 0px 29px;
}

body .app .content .projectContainer .projMain .projMain__Left-Info .Heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 18px;
  padding: 13px 0px 0px 29px;
}

body .app .content .projectContainer .projMain .projMain__Left-Info .Description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 16px;
  line-height: 33px;
  padding: 15px 50px 0px 29px;
}

body .app .content .projectContainer .projMain__Image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFFFFF;
  width: 50%;
  height: auto;
}

body .app .content .projectContainer .projMain__Image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

body .app .content .projectContainer .projDetailTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

body .app .content .projectContainer .projDetailTab .Collapsible {
  width: 89%;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  position: relative;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel:hover .carousel__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5%;
  top: 84%;
  left: 45%;
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls .prevSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls .emptyDot {
  width: 7px;
  height: 7px;
  border: 1px solid #010101;
  background-color: #FFFFFF;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls .filledDot {
  width: 7px;
  height: 7px;
  background-color: #010101;
  border: 1px solid #010101;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls .slideTwoDot {
  margin: 0px 7px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls .nextSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__image {
  width: 71%;
  height: 100%;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__image img {
  width: 100%;
  height: auto;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb {
  width: 29%;
  height: auto;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-text {
  padding: 0% 10% 0% 10%;
}

body .app .content .projectContainer .projDetailTab .Collapsible span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: orange;
  position: relative;
  border: 1px solid #FFFFFF;
  padding: 10px 10px 10px 29px;
  background: #FFFFFF;
  color: #010101;
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger:after {
  content: url("./Icons/expand.png");
  position: absolute;
  right: 58%;
  top: 40%;
  display: block;
  -webkit-transition: -webkit-transform 2000ms;
  transition: -webkit-transform 2000ms;
  transition: transform 2000ms;
  transition: transform 2000ms, -webkit-transform 2000ms;
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger.is-open:after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

body .app .content .projectContainer .projDetailTab__sideRect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 11%;
  background-color: #FAFBFA;
  height: auto;
}

body .app .content .projectContainer .projDetailTab__sideRect-Top {
  width: 100%;
  background-color: #FFFFFF;
  height: 72px;
}

body .app .content .contactPage {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}

body .app .content .contactPage .contactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 435px;
}

body .app .content .contactPage .contactMain .contactImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFFFFF;
  width: 497px;
  height: 100%;
}

body .app .content .contactPage .contactMain__Side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 111px;
  height: 100%;
  background-color: #010101;
}

body .app .content .contactPage .contactMain__Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 385px;
  height: 100%;
  background-color: #FAFBFA;
}

body .app .content .contactPage .contactMain__Info-Heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #4EA9B9;
  font-family: 'Sunflower-Medium';
  font-size: 36px;
  padding: 48px 0px 0px 29px;
}

body .app .content .contactPage .contactMain__Info-Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 16px;
  line-height: 33px;
  padding: 15px 50px 0px 29px;
}

body .app .content .contactPage .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 16px;
  line-height: 33px;
  padding: 15px 50px 0px 29px;
}

body .app .content .contactPage .form textarea {
  height: 100px;
}

body .app .content .contactPage .submit {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: #010101;
  color: #FFFFFF;
  font-family: 'IBMPlexSans';
  font-size: 16px;
}

@media (min-width: 760px) and (max-width: 1099px) {
  body .app {
    width: 750px;
  }
  body .app .header .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .app .header .branding .name {
    margin: 0px 0px 0px 50px;
  }
  body .app .header .branding .industry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -8px 0px 25px 127px;
  }
  body .app .header .branding .industry .line1 {
    margin-right: 5px;
  }
  body .app .header .navigation .navigation__menu {
    padding-right: 50px;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ {
    display: none;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav .Num {
    font-size: 5.4em;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible {
    width: 89%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel .carousel__blurb-bottom .prevSlide {
    margin-right: 15px;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel .carousel__blurb-bottom .nextSlide {
    margin-left: 15px;
  }
}

@media (min-width: 660px) and (max-width: 759px) {
  body .app {
    width: 650px;
  }
  body .app .header .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .app .header .branding .name {
    margin: 0px 0px 0px 30px;
  }
  body .app .header .branding .industry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -8px 0px 25px 107px;
  }
  body .app .header .branding .industry .line1 {
    margin-right: 5px;
  }
  body .app .header .navigation .navigation__menu {
    padding-right: 30px;
    width: 64%;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ {
    display: none;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav .Num {
    font-size: 5.4em;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible {
    width: 89%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel .carousel__blurb-bottom .prevSlide {
    margin-right: 15px;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel .carousel__blurb-bottom .nextSlide {
    margin-left: 15px;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible span {
    padding-right: 65%;
  }
  body .app .footer__copyright {
    margin: 38px 30px 0px 0px;
  }
}

@media (min-width: 400px) and (max-width: 659px) {
  body .app {
    width: 650px;
  }
  body .app .header .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .app .header .branding .name {
    margin: 0px 0px 0px 30px;
  }
  body .app .header .branding .industry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -8px 0px 25px 107px;
  }
  body .app .header .branding .industry .line1 {
    margin-right: 5px;
  }
  body .app .header .navigation .navigation__menu {
    padding-right: 30px;
    width: 64%;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ {
    display: none;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav .Num {
    font-size: 5.4em;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible {
    width: 89%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel .carousel__blurb-bottom .prevSlide {
    margin-right: 15px;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel .carousel__blurb-bottom .nextSlide {
    margin-left: 15px;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible span {
    padding-right: 65%;
  }
  body .app .footer__copyright {
    margin: 38px 30px 0px 0px;
  }
}

@media (min-width: 328px) and (max-width: 399px) {
  body .app {
    width: 100%;
  }
  body .app .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 125.39px;
  }
  body .app .header .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
    margin-right: 7%;
  }
  body .app .header .branding .name {
    font-size: 42px;
    margin: 0px 0px 0px 0px;
  }
  body .app .header .branding .industry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -7px 0px 13px 0px;
    font-size: 21px;
  }
  body .app .header .branding .industry .line1 {
    margin-right: 5px;
  }
  body .app .header .burgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 84.38px;
    height: 100%;
    background-color: #010101;
  }
  body .app .header .navigation {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-h {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__Main .homeGallery__MainCard-d {
    display: none;
  }
  body .app .content .homeGallery .homeGallery__More .loadMoreContent .cardJ {
    display: none;
  }
  body .app .content .projectContainer .projMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .app .content .projectContainer .projMain .projMain__Left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav {
    width: 22.8%;
    white-space: nowrap;
    overflow: hidden;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav .Num {
    font-size: 5.4em;
    margin: 0% 0% 0% 0%;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav .Prev {
    padding: 0% 0% 0% 0%;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Nav .Next {
    padding: 0% 0% 0% 0%;
  }
  body .app .content .projectContainer .projMain .projMain__Left .projMain__Left-Info {
    width: 90%;
  }
  body .app .content .projectContainer .projMain .projMain__Image {
    width: 100%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible {
    width: 100%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    top: 65%;
    left: 0%;
    -webkit-animation: none;
            animation: none;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel__image {
    width: 100%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb {
    width: 100%;
    height: auto;
    margin: 15% 0 6% 0;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible__trigger:after {
    right: 8%;
  }
  body .app .content .projectContainer .projDetailTab .Collapsible__trigger.is-open:after {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  body .app .content .projectContainer .projDetailTab .Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
  body .app .content .projectContainer .projDetailTab .projDetailTab__sideRect {
    display: none;
  }
  body .app .footer__copyright {
    margin: 38px 30px 0px 0px;
  }
}
/*# sourceMappingURL=App.css.map */