@font-face {
  font-family: "IBMPlexSans";
  src: url("./Fonts/IBMPlexSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("./Fonts/IBMPlexSans-Regular.otf") format("opentype"), url("./Fonts/IBMPlexSans-Regular.svg") format("svg"), url("./Fonts/IBMPlexSans-Regular.ttf") format("truetype"), url("./Fonts/IBMPlexSans-Regular.woff") format("woff"), url("./Fonts/IBMPlexSans-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Medium";
  src: url("./Fonts/Sunflower-Medium.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Sunflower-Medium.eot?#iefix") format("embedded-opentype"), url("./Fonts/Sunflower-Medium.otf") format("opentype"), url("./Fonts/Sunflower-Medium.svg") format("svg"), url("./Fonts/Sunflower-Medium.ttf") format("truetype"), url("./Fonts/Sunflower-Medium.woff") format("woff"), url("./Fonts/Sunflower-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Bold";
  src: url("./Fonts/Sunflower-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Sunflower-Bold.eot?#iefix") format("embedded-opentype"), url("./Fonts/Sunflower-Bold.otf") format("opentype"), url("./Fonts/Sunflower-Bold.svg") format("svg"), url("./Fonts/Sunflower-Bold.ttf") format("truetype"), url("./Fonts/Sunflower-Bold.woff") format("woff"), url("./Fonts/Sunflower-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Light";
  src: url("./Fonts/Sunflower-Light.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Sunflower-Light.eot?#iefix") format("embedded-opentype"), url("./Fonts/Sunflower-Light.otf") format("opentype"), url("./Fonts/Sunflower-Light.svg") format("svg"), url("./Fonts/Sunflower-Light.ttf") format("truetype"), url("./Fonts/Sunflower-Light.woff") format("woff"), url("./Fonts/Sunflower-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

body .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 994px;
  height: auto;
}

body .app .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 230px;
}

body .app .header .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  color: #010101;
  font-family: 'Sunflower-Medium';
}

body .app .header .branding .name {
  font-size: 48px;
  margin: 162px 0px 0px 50px;
}

body .app .header .branding .industry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  margin: 171px 0px 0px 20px;
  line-height: 20px;
}

body .app .header .branding .industry .line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .app .header .branding .industry .line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .app .header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  background-color: #010101;
  padding: 192px 50px 0px 199px;
}

body .app .header .navigation .notCurrent {
  color: white;
  text-decoration: none;
  font-family: 'IBMPlexSans';
  font-size: 16px;
}

body .app .header .navigation .current {
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: #FB8B24;
          text-decoration-color: #FB8B24;
  color: white;
  font-family: 'IBMPlexSans';
  font-size: 16px;
}

body .app .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 66px;
  background-color: #fafbfa;
  color: #3A3A3A;
  font-family: 'IBMPlexSans';
  font-size: 12px;
}

body .app .footer__copyright {
  margin: 38px 50px 0px 0px;
}

body .app .content {
  background-color: #FFFFFF;
  margin-top: 3px;
  width: 100%;
  height: auto;
}

body .app .content .homeGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

body .app .content .homeGallery .column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
}

body .app .content .homeGallery .column1 .blockA {
  width: 247px;
  height: 288px;
  background-color: #acacac;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column1 .blockA img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column1 .blockB {
  width: 247px;
  height: 144px;
  background-color: #acacac;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column1 .blockB img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column1 .blockC {
  width: 247px;
  height: 288px;
  background-color: #acacac;
}

body .app .content .homeGallery .column1 .blockC img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  margin: 0px 2px;
}

body .app .content .homeGallery .column2 .blockD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 496px;
  height: 143px;
  background-color: #acacac;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column2 .blockD img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column2 .blockE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
}

body .app .content .homeGallery .column2 .blockE .blockE_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
  height: auto;
}

body .app .content .homeGallery .column2 .blockE .blockE_left .blockE_leftTop {
  width: 247px;
  height: 288px;
  background-color: #acacac;
  margin-right: 2px;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column2 .blockE .blockE_left .blockE_leftTop img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column2 .blockE .blockE_left .blockE_leftBottom {
  width: 247px;
  height: 144px;
  background-color: #acacac;
}

body .app .content .homeGallery .column2 .blockE .blockE_left .blockE_leftBottom img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column2 .blockE .blockE_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
  height: auto;
}

body .app .content .homeGallery .column2 .blockE .blockE_right .blockE_rightTop {
  width: 247px;
  height: 143px;
  background-color: #acacac;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column2 .blockE .blockE_right .blockE_rightTop img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column2 .blockE .blockE_right .blockE_rightBottom {
  width: 247px;
  height: 288px;
  background-color: #acacac;
}

body .app .content .homeGallery .column2 .blockE .blockE_right .blockE_rightBottom img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column2 .blockF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 496px;
  height: 143px;
  background-color: #010101;
  margin-top: 2px;
  color: white;
  font-family: 'IBMPlexSans';
  font-size: 16px;
}

body .app .content .homeGallery .column2 .blockF__loadMore {
  padding-top: 10px;
}

body .app .content .homeGallery .column2 .blockF__downArrow {
  padding-top: 10px;
}

body .app .content .homeGallery .column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
}

body .app .content .homeGallery .column3 .blockG {
  width: 247px;
  height: 288px;
  background-color: #acacac;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column3 .blockG img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column3 .blockH {
  width: 247px;
  height: 144px;
  background-color: #acacac;
  margin-bottom: 2px;
}

body .app .content .homeGallery .column3 .blockH img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .homeGallery .column3 .blockI {
  width: 247px;
  height: 288px;
  background-color: #acacac;
}

body .app .content .homeGallery .column3 .blockI img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}

body .app .content .projectContainer .projMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 435px;
}

body .app .content .projectContainer .projMain .projNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 111px;
  height: 100%;
  background-color: #010101;
}

body .app .content .projectContainer .projMain .projNav .projPrev {
  padding: 38px 25px 0 25px;
  margin-bottom: -20px;
}

body .app .content .projectContainer .projMain .projNav .projNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  color: #FFFFFF;
  font-size: 137px;
  font-family: 'IBMPlexSans';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 5px 0 0 -9px;
}

body .app .content .projectContainer .projMain .projNav .projNext {
  padding: 0px 25px 0 25px;
  margin-top: -11px;
}

body .app .content .projectContainer .projMain .projInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 385px;
  height: 100%;
  background-color: #FAFBFA;
}

body .app .content .projectContainer .projMain .projInfo .projName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #4EA9B9;
  font-family: 'Sunflower-Medium';
  font-size: 36px;
  padding: 48px 0px 0px 29px;
}

body .app .content .projectContainer .projMain .projInfo .projHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 18px;
  padding: 13px 0px 0px 29px;
}

body .app .content .projectContainer .projMain .projInfo .projDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #010101;
  font-family: 'IBMPlexSans';
  font-size: 16px;
  line-height: 33px;
  padding: 15px 50px 0px 29px;
}

body .app .content .projectContainer .projMain .projImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFFFFF;
  width: 497px;
  height: 100%;
}

body .app .content .projectContainer .projMain .projImage img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .app .content .projectContainer .projDetailTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

body .app .content .projectContainer .projDetailTab .sideRectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 111px;
  background-color: #fafbfa;
  height: auto;
}

body .app .content .projectContainer .projDetailTab .sideRectangle .sideRectangleTop {
  width: 100%;
  background-color: #ffffff;
  height: 72px;
}

body .app .content .projectContainer .projDetailTab .Collapsible {
  width: 882px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 439px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__image {
  width: 637px;
  height: 439px;
  background-color: red;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb {
  width: 247px;
  height: 439px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-top {
  background-color: #010101;
  width: 100%;
  height: 309px;
  font-family: 'IBMPlexSans';
  font-size: 16px;
  color: #FFFFFF;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-top .actualBlurb {
  padding: 51px 50px 45px 24px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-bottom .prevSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-bottom .emptyDot {
  width: 7px;
  height: 7px;
  border: 1px solid #010101;
  background-color: white;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-bottom .filledDot {
  width: 7px;
  height: 7px;
  background-color: #010101;
  border: 1px solid #010101;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-bottom .slideTwoDot {
  margin: 0px 7px;
}

body .app .content .projectContainer .projDetailTab .Collapsible .carousel__blurb-bottom .nextSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

body .app .content .projectContainer .projDetailTab .Collapsible span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: orange;
  position: relative;
  border: 1px solid white;
  padding: 10px 10px 10px 29px;
  background: #FFFFFF;
  color: #010101;
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger:after {
  content: url("./Icons/expand.png");
  position: absolute;
  right: 507px;
  top: 28px;
  display: block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger.is-open:after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

body .app .content .projectContainer .projDetailTab .Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}
/*# sourceMappingURL=App.css.map */