//*********** SASS VARIABLES STARTS ***************


$color-01: #010101;
$color-02: #333333;
$color-03: #CDCDCD;
$color-04: #FAFBFA;
$color-05: #FDFFFC;
$color-06: #FFFFFF;
$color-07: #FB8B24;
$color-08: #4EA9B9;


//*********** SASS VARIABLES ENDS ***************
//********** FONT SETUP STARTS *************


@font-face {
    font-family: "IBMPlexSans";
    src: url("./Fonts/IBMPlexSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./Fonts/IBMPlexSans-Regular.otf") format("opentype"), /* Open Type Font */
        url("./Fonts/IBMPlexSans-Regular.svg") format("svg"), /* Legacy iOS */
        url("./Fonts/IBMPlexSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./Fonts/IBMPlexSans-Regular.woff") format("woff"), /* Modern Browsers */
        url("./Fonts/IBMPlexSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sunflower-Medium";
    src: url("./Fonts/Sunflower-Medium.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Medium.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Medium.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Medium.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sunflower-Bold";
    src: url("./Fonts/Sunflower-Bold.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Bold.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Bold.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Bold.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sunflower-Light";
    src: url("./Fonts/Sunflower-Light.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Light.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Light.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Light.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


//********** FONT SETUP ENDS *************
//********** MIXINS START *************


@mixin fr {
    display:flex;
    flex-direction: row;
}
@mixin fc {
    display:flex;
    flex-direction: column;
}


//*********** MIXINS END **************
//********** MAIN STYLING STARTS **********


body {
    @include fr;
    justify-content: center;
    background-color: $color-06;
    width: 100vw;
    height: 100vh;

    .app{
        @include fc;
        justify-content: center;
        align-items: center;
        width: 994px;
        height: auto;
        .header{
            @include fr;
            justify-content: flex-start;
            width: 100%;
            height: 230px;
            .branding{
                @include fr;
                justify-content: flex-start;
                width: 50%;
               // margin-bottom: 22px;
                color: $color-01;
                font-family: 'Sunflower-Medium';
                .name{
                    font-size: 48px;
                    margin: 162px 0px 0px 50px;
                }
                .industry{
                    @include fc;
                    justify-content: flex-start;
                    font-size: 20px;
                    margin: 171px 0px 0px 20px;
                    line-height: 20px;
                    .line1{
                        display: flex;
                    }
                    .line2{
                        display: flex;
                    }
                }
            }
            .burgerMenu{
                display: none;
            }
            .navigation{
                @include fr;
                justify-content: space-between;
                width: 25%;
                background-color: $color-01;
                padding: 192px 50px 0px 199px;

                .notCurrent{
                    color: $color-06;
                    text-decoration: none;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                }
                .current{
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: $color-07;
                    color: $color-06;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                }
            }
        

        }
        .footer{
            @include fr;
            justify-content: flex-end;
            width: 100%;
            height: 66px;
            background-color: $color-04;
            color: $color-01;
            font-family: 'IBMPlexSans';
            font-size: 12px;
        }
        .footer__copyright{
            margin: 38px 50px 0px 0px;
        }
        .content {
            background-color: $color-06;
            margin-top: 3px;
            width: 100%;
            height: auto;
            .homeGallery{
                @include fc;
                justify-content: space-around;
                height: auto;
                width: 100%;
                height: auto;
                background-color:$color-06;
                .homeGallery__Main{
                    @include fr;
                    justify-content: space-around;
                    height: auto;
                    width: 100%;
                    height: auto;
                    background-color:$color-06;
                    .column1{
                        @include fc;
                        justify-content: center;
                        width: auto;
                        height: auto;
                    }
                    .column1__A{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .column1__B{
                        width: 247px;
                        height: 144px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .column1__C{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .column2{
                        @include fc;
                        justify-content: center;
                        width: auto;
                        height: auto;
                        margin: 0px 2px;
                    }
                    .column2__D{
                        display: flex;
                        width: 496px;
                        height: 143px;
                        background-color: #acacac;
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .column2__E{
                        @include fr;
                        justify-content: center;
                        width: auto;
                        height: auto;
                    }
                    .column2__E-left{
                        @include fc;
                        justify-content: flex-start;
                        width: auto;
                        height: auto;
                        .leftTop{
                            width: 247px;
                            height: 288px;
                            background-color: rgb(172, 172, 172);
                            margin-right: 2px;
                            margin-bottom: 2px;
                            img{
                                display: flex;
                                width: 100%;
                                height: 100%
                            }
                        }
                        .leftBottom{
                            width: 247px;
                            height: 144px;  
                            background-color: rgb(172, 172, 172);
                            img{
                                display: flex;
                                width: 100%;
                                height: 100%
                            }

                        }
                    }
                    .column2__E-right{
                        @include fc;
                        justify-content: flex-start;
                        width: auto;
                        height: auto;
                        .rightTop{
                            width: 247px;
                            height: 143px;  
                            background-color: rgb(172, 172, 172);
                            margin-bottom: 2px;
                            img{
                                display: flex;
                                width: 100%;
                                height: 100%
                            }
                        }
                        .rightBottom{
                            width: 247px;
                            height: 288px;  
                            background-color: rgb(172, 172, 172);
                            img{
                                display: flex;
                                width: 100%;
                                height: 100%
                            }

                        }
                    }
                    .column2__F{
                        @include fc;
                        justify-content: center;
                        align-items: center;
                        width: 496px;
                        height: 143px;
                        background-color: $color-01;
                        margin-top: 2px;
                        color: $color-06;
                        font-family: 'IBMPlexSans';
                        font-size: 16px;

                    }
                    .column2__F-loadMore{
                        padding-top: 10px;
                    }
                    .column2__F-downArrow{
                        padding-top: 10px;
                    }
                    .column3{
                        @include fc;
                        justify-content: center;
                        width: auto;
                        height: auto;
                    }
                    .column3__G{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .column3__H{
                        width: 247px;
                        height: 144px;
                        background-color: rgb(172, 172, 172);
                        margin-bottom: 2px;
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                    .column3__I{
                        width: 247px;
                        height: 288px;
                        background-color: rgb(172, 172, 172);
                        img{
                            display: flex;
                            width: 100%;
                            height: 100%
                        }
                    }
                }
                .loadMoreContent{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    height: 200px;
                    background-color: blue;
                    font-size: 30px;

                }
            }
            .projectContainer{
                @include fc;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                background-color: $color-06;
                .projMain{
                    @include fr;
                    justify-content: center;
                    width: 100%;
                    height: 435px;
                }
                .projMain__Nav{
                    @include fc;
                    justify-content: flex-start;
                    width: 111px;
                    height: 100%;
                    background-color: $color-01;
                }
                .projMain__Nav-Prev{
                    padding: 38px 25px 0 25px;
                    margin-bottom: -20px;
                }
                .projMain__Nav-Num{
                    @include fr;
                    justify-content: center;
                    width: auto;
                    height: auto;
                    color: $color-06;
                    font-size: 137px;
                    font-family: 'IBMPlexSans';
                    transform: rotate(90deg);
                    margin: 5px 0 0 -9px;
                }
                .projMain__Nav-Next{
                    padding: 0px 25px 0 25px;
                    margin-top: -11px;
                }
                .projMain__Info{
                    @include fc;
                    justify-content: flex-start;
                    width: 385px;
                    height: 100%;
                    background-color: $color-04;
                }
                .projMain__Info-Name{
                    @include fr;
                    justify-content: flex-start;
                    color: $color-08;
                    font-family: 'Sunflower-Medium';
                    font-size: 36px;
                    padding: 48px 0px 0px 29px;
                }
                .projMain__Info-Heading{
                    @include fr;
                    justify-content: flex-start;
                    color: $color-01;
                    font-family: 'IBMPlexSans';
                    font-size: 18px;
                    padding: 13px 0px 0px 29px;
                }
                .projMain__Info-Description{
                    @include fr;
                    justify-content: flex-start;
                    color: $color-01;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                    line-height: 33px;
                    padding: 15px 50px 0px 29px;
                }
                .projMain__Image{
                    @include fr;
                    justify-content: flex-start;
                    background-color: $color-06;
                    width: 497px;
                    height: 100%;
                    img{
                        display: flex;
                        width: 100%;
                        height: 100%;
                    }
                }
                .projDetailTab{
                    @include fr;
                    justify-content: flex-start;
                    width: 100%;
                    // height: auto;
                    .Collapsible {
                        width: 882px;
                        .carousel{
                            @include fr;
                            justify-content: flex-start;
                            height: 439px;
                        }
                        .carousel__image{
                            width: 637px;
                            height: 439px;
                            background-color: red;
                        }
                        .carousel__blurb{
                            width: 247px;
                            height: 439px;
                        }
                        .carousel__blurb-top{
                            background-color: $color-01;
                            width: 100%;
                            height: 309px;
                            font-family: 'IBMPlexSans';
                            font-size: 16px;
                            color: $color-06;
                            .actualBlurb{
                                padding: 51px 50px 45px 24px;
                            }
                        }
                        .carousel__blurb-bottom{
                            @include fr;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 50px;

                            .prevSlide {
                                display: flex;
                                margin-right: 40px;
                            }
                            .emptyDot{
                                width: 7px;
                                height: 7px;
                                border: 1px solid $color-01;
                                background-color: $color-06;
                                //border-radius: 50%;

                            }
                            .filledDot{
                                width: 7px;
                                height: 7px;
                                background-color: $color-01;
                                border: 1px solid $color-01;
                                //border-radius: 50%
                            }
                            .slideTwoDot{
                                margin: 0px 7px;
                            }
                            .nextSlide {
                                display: flex;
                                margin-left: 40px;
                            }
                        }
                        span{
                            @include fr;
                            align-items: center;
                            height: 50px;
                            
                        }
                    }
                    .Collapsible__trigger {
                        display: block;
                        font-weight: 400;
                        text-decoration: none;
                        color: orange;
                        position: relative;
                        border: 1px solid $color-06;
                        padding: 10px 10px 10px 29px;
                        background: $color-06;
                        color: $color-01;
                        
                        
                        &:after {
                        //   font-family: 'FontAwesome';
                        //   content: '\f107';
                            content: url('./Icons/expand.png');
                            position: absolute;
                            right: 507px;
                            top: 28px;
                            display: block;
                            transition: transform 300ms;
                        }
                        
                        &.is-open {
                            &:after {
                            transform: rotateZ(45deg);
                            }
                        }
                        
                        &.is-disabled {
                            opacity: 0.5;
                            background-color: grey;
                        }
                    }
                }
                .projDetailTab__sideRect{
                    @include fc;
                    justify-content: flex-start;
                    width: 111px;
                    background-color: $color-04;
                    height: auto;
                }
                .projDetailTab__sideRect-Top{
                    width: 100%;
                    background-color: $color-06;
                    height: 72px;
                }
            }
        }
    }


    //************** MAIN STYLING ENDS **************
    //************** MEDIA QUERIES STARTS **************


    @media (min-width: 800px)
    and (max-width: 1100px){}
    @media  (min-width: 660px)
    and (max-width: 799px) {}
    @media (min-width: 400px)
    and (max-width: 659px){}
    @media (min-width: 319px)
    and (max-width: 321px){
        .app{

            width: 100vw;
            .header{
                justify-content: flex-end;;
                height: auto;
                
                .branding{
                    width: 65%;
                    @include fc;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding-right: 9%;
                    .name{
                        margin: 0;
                        font-size: 36px;
                    }

                    .industry{
                        margin: -6px 0 0 0;
                        @include fr;
                        font-size: 18px;
                        .line1{
                            padding-right: 4px;
                        }
                    }
                }
                .burgerMenu{
                    display: flex;
                    background-color: $color-01;
                    width: 22%;
                    height: 107px;
                }
                .navigation{
                    display: none;
                }
            }
            .content{
                width: 100%;
                .homeGallery{
                    width: 100%;
                    flex-wrap: wrap;
                    .column1{
                        width: 100%;
                    }
                    .column1__A {
                        width: 100%;
                        height: auto;
                    }
                    .column1__B {
                        width: 100%;
                        height: auto;
                    }
                    .column1__C {
                        width: 100%;
                        height: auto;
                    }
                    .column2{
                        width: 100%;
                    }
                    .column2__D {
                        width: 100%;
                        height: auto;
                        margin-top: 2px;
                    }
                    .column2__E {
                        width: 100%;
                        height: auto;
                        flex-direction: column;
                        .leftTop{
                        width: 100%;
                        height: auto;
                        }
                        .leftBottom{
                        width: 100%;
                        height: auto;
                        }
                    }
                    .column2__E-right{
                        margin-top: 2px;
                        width: 100%;
                        height: auto;
                        .rightTop{
                            width: 100%;
                            height: auto;
                        }
                        .rightBottom{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .column2__F{
                        width: 100%;
                        height: 120px;
                    }
                    
                    .column3{
                        display: none;
                        width: 100%;
                        margin-top: 2px;
                    }
                    .column3__G{
                        width: 100%;
                        height: auto;
                    }
                    .column3__H{
                        width: 100%;
                        height: auto;
                    }
                    .column3__I{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            
            .footer__copyright{
                margin: 32px 26px 0px 0px;
                padding-left: 80px;
                font-size: 10px;
            }

        }
        
    }
    @media (min-width: 0px)
    and (max-width: 327px){}


    //************** MEDIA QUERIES ENDS **************

}


