//*********** SASS VARIABLES STARTS ***************


$color-01: #010101;
$color-02: #333333;
$color-03: #CDCDCD;
$color-04: #FAFBFA;
$color-05: #FDFFFC;
$color-06: #FFFFFF;
$color-07: #FB8B24;
$color-08: #4EA9B9;


//*********** SASS VARIABLES ENDS ***************
//********** FONT SETUP STARTS *************


@font-face {
    font-family: "IBMPlexSans";
    src: url("./Fonts/IBMPlexSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./Fonts/IBMPlexSans-Regular.otf") format("opentype"), /* Open Type Font */
        url("./Fonts/IBMPlexSans-Regular.svg") format("svg"), /* Legacy iOS */
        url("./Fonts/IBMPlexSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./Fonts/IBMPlexSans-Regular.woff") format("woff"), /* Modern Browsers */
        url("./Fonts/IBMPlexSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sunflower-Medium";
    src: url("./Fonts/Sunflower-Medium.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Medium.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Medium.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Medium.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sunflower-Bold";
    src: url("./Fonts/Sunflower-Bold.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Bold.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Bold.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Bold.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Bold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Sunflower-Light";
    src: url("./Fonts/Sunflower-Light.eot"); /* IE9 Compat Modes */
    src: url("./Fonts/Sunflower-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./Fonts/Sunflower-Light.otf") format("opentype"), /* Open Type Font */
      url("./Fonts/Sunflower-Light.svg") format("svg"), /* Legacy iOS */
      url("./Fonts/Sunflower-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./Fonts/Sunflower-Light.woff") format("woff"), /* Modern Browsers */
      url("./Fonts/Sunflower-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


//********** FONT SETUP ENDS *************
//********** MIXINS START *************


@mixin fr {
    display:flex;
    flex-direction: row;
}
@mixin fc {
    display:flex;
    flex-direction: column;
}


//*********** MIXINS END **************
//********** MAIN STYLING STARTS **********



body {
    @include fr;
    justify-content: center;
    background-color: $color-06;
    width: 100vw;
    height: 100vh;

    .app{
        @include fc;
        justify-content: flex-start;
        align-items: center;
        width: 994px;
        height: 107vh;
        
        .header{
            @include fr;
            justify-content: flex-start;
            width: 100%;
            height: 230px;
            .branding{
                @include fr;
                justify-content: flex-start;
                align-items: flex-end;
                width: 50%;
                height: 100%;
               // margin-bottom: 22px;
                color: $color-01;
                font-family: 'Sunflower-Medium';
                animation: transitionIn 1s;
                .name{
                    font-size: 48px;
                    margin: 0px 0 13.5px 50px;
                }
                .industry{
                    @include fc;
                    justify-content: flex-start;
                    font-size: 20px;
                    margin: 0px 0 25px 19px;
                    line-height: 20px;
                    .line1{
                        display: flex;
                    }
                    .line2{
                        display: flex;
                    }
                }
            }
            .burgerMenu{
                display: none;
            }
            .navigation{
                @include fc;
                justify-content: flex-end;
                align-items: flex-end;
                width: 50%;
                background-color: $color-01;
                //padding: 192px 50px 0px 199px;
                animation: transitionIn 2s;

            }
            .navigation__menu{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 52%;
                padding: 0 50px 23.5px 0;
                .notCurrent{
                    color: $color-06;
                    text-decoration: none;
                    font-family: 'IBMPlexSans';
                    font-size: 1em;
                }
                .current{
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: $color-07;
                    color: $color-06;
                    font-family: 'IBMPlexSans';
                    font-size: 1em;
                }
            }
        

        }
        .footer{
            @include fr;
            justify-content: flex-end;
            width: 100%;
            height: 66px;
            background-color: $color-04;
            color: $color-01;
            font-family: 'IBMPlexSans';
            font-size: 12px;
            animation: transitionIn 2s
        }
        .footer__copyright{
            margin: 38px 50px 0px 0px;
        }
        .content {
            background-color: $color-06;
            margin-top: 3px;
            width: 100%;
            height: auto;
            
            .homeGallery{
                @include fc;
                justify-content: space-around;
                height: auto;
                width: 100%;
                margin-top: 10px;
                background-color:$color-06;
                animation: transitionIn 2s;
                .homeGallery__Main{
                    @include fr;
                    justify-content: space-between;
                    height: auto;
                    width: 100%;
                    flex-wrap: wrap;
                    
                    .homeGallery__MainCard-a{
                        margin-bottom: 10px;
                        .cardFull{
                            width: 240px;
                            height: 335px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-b{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .cardTwoThirds{
                            width: 240px;
                            height: 220px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .cardThird{
                            width: 240px;
                            height: 105px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-c{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .cardTwoThirds{
                            width: 240px;
                            height: 220px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .cardThird{
                            width: 240px;
                            height: 105px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-d{
                        margin-bottom: 10px;
                        .cardFull{
                            width: 240px;
                            height: 335px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-e{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .cardTwoThirds{
                            width: 240px;
                            height: 220px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .cardThird{
                            width: 240px;
                            height: 105px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-f{
                        margin-bottom: 10px;
                        .cardFull{
                            width: 240px;
                            height: 335px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-g{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .cardTwoThirds{
                            width: 240px;
                            height: 220px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .cardThird{
                            width: 240px;
                            height: 105px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .homeGallery__MainCard-h{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .cardTwoThirds{
                            width: 240px;
                            height: 220px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .cardThird{
                            width: 240px;
                            height: 105px;
                            background-color: lightgray;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .homeGallery__More {
                    .loadMoreContent{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        height: auto;
                        animation: transitionIn 1.5s;
                        flex-wrap: wrap;
                        .cardI{
                            display: flex;
                            margin-bottom: 10px;
                            .cardFull{
                                width: 240px;
                                height: 335px;
                                background-color: lightgray;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .cardJ{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            .cardTwoThirds{
                                width: 240px;
                                height: 220px;
                                background-color: lightgray;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .cardThird{
                                width: 240px;
                                height: 105px;
                                background-color: lightgray;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .cardK{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            .cardTwoThirds{
                                width: 240px;
                                height: 220px;
                                background-color: lightgray;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .cardThird{
                                width: 240px;
                                height: 105px;
                                background-color: lightgray;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .cardL{
                            display: flex;
                            margin-bottom: 10px;
                            .cardFull{
                                width: 240px;
                                height: 335px;
                                background-color: lightgray;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                @keyframes transitionIn {
                    from {
                        opacity: 0;
                        transform: rotateX(-10deg);
                    }
                    to {
                        opacity: 1;
                        transform: rotateX(0);
                    }
                }
                
                .loadMoreButton{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 120px;
                    background-color: $color-01;
                    color: $color-06;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                }
                // .loadMoreButton__text{
                    
                // }
                // .loadMoreButton__button{

                // }
            }
            .projectContainer{
                @include fc;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                background-color: $color-06;
                animation: transitionIn 2s;
                .projMain{
                    @include fr;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    //height: 44.39vh;
                    .projMain__Left{
                        @include fr;
                        justify-content: center;
                        width: 50%;
                        height: auto;
                    }
                    .projMain__Left-Nav{
                        @include fc;
                        justify-content: flex-start;
                        width: 22%;
                        height: auto;
                        background-color: $color-01;
                        .Prev{
                            padding: 38px 25px 0 25px;
                            margin-bottom: -20px;
                        }
                        .Num{
                            @include fr;
                            justify-content: center;
                            width: auto;
                            height: auto;
                            color: #FFFFFF;
                            font-size: 8.1em;
                            font-family: 'IBMPlexSans';
                            transform: rotate(90deg);
                            margin: 6% 17% 0 0;
                        }
                        .Next{
                            padding: 0px 25px 0 25px;
                            margin-top: -11px;
                        }
                    }
                    .projMain__Left-Info{
                        @include fc;
                        justify-content: flex-start;
                        width: 78%;
                        height: auto;
                        background-color: $color-04;
                        .Name{
                            @include fr;
                            justify-content: flex-start;
                            color: $color-08;
                            font-family: 'Sunflower-Medium';
                            font-size: 36px;
                            padding: 48px 0px 0px 29px;
                        }
                        .Heading{
                            @include fr;
                            justify-content: flex-start;
                            color: $color-01;
                            font-family: 'IBMPlexSans';
                            font-size: 18px;
                            padding: 13px 0px 0px 29px;
                        }
                        .Description{
                            @include fr;
                            justify-content: flex-start;
                            color: $color-01;
                            font-family: 'IBMPlexSans';
                            font-size: 16px;
                            line-height: 33px;
                            padding: 15px 50px 0px 29px;
                        }
                    }
                }
                .projMain__Image{
                    @include fr;
                    justify-content: flex-start;
                    background-color: $color-06;
                    width: 50%;
                    height: auto;
                    img{
                        display: flex;
                        width: 100%;
                        height: auto;
                    }
                }
                .projDetailTab{
                    @include fr;
                    justify-content: flex-start;
                    width: 100%;
                    // height: auto;
                    .Collapsible {
                        width: 89%;
                        .carousel{
                            @include fr;
                            justify-content: flex-start;
                            height: auto;
                        }
                        .carousel__image{
                            width: 71%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .carousel__blurb{
                            width: 29%;
                            height: auto;
                        }
                        .carousel__blurb-top{
                            background-color: $color-01;
                            width: 100%;
                            height: 70%;
                            font-family: 'IBMPlexSans';
                            font-size: 16px;
                            color: $color-06;
                            .actualBlurb{
                                padding: 51px 50px 45px 24px;
                            }
                        }
                        .carousel__blurb-bottom{
                            @include fr;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: auto;

                            .prevSlide {
                                display: flex;
                                margin-right: 40px;
                            }
                            .emptyDot{
                                width: 7px;
                                height: 7px;
                                border: 1px solid $color-01;
                                background-color: $color-06;
                                //border-radius: 50%;

                            }
                            .filledDot{
                                width: 7px;
                                height: 7px;
                                background-color: $color-01;
                                border: 1px solid $color-01;
                                //border-radius: 50%
                            }
                            .slideTwoDot{
                                margin: 0px 7px;
                            }
                            .nextSlide {
                                display: flex;
                                margin-left: 40px;
                            }
                        }
                        span{
                            @include fr;
                            align-items: center;
                            height: 50px;
                            
                        }
                    }
                    .Collapsible__trigger {
                        display: block;
                        font-weight: 400;
                        text-decoration: none;
                        color: orange;
                        position: relative;
                        border: 1px solid $color-06;
                        padding: 10px 10px 10px 29px;
                        background: $color-06;
                        color: $color-01;
                        
                    
                        &:after {
                        //   font-family: 'FontAwesome';
                        //   content: '\f107';
                            content: url('./Icons/expand.png');
                            position: absolute;
                            right: 58%;
                            top: 40%;
                            display: block;
                            transition: transform 2000ms;
                        }
                        
                        &.is-open {
                            &:after {
                            transform: rotateZ(45deg);
                            }
                        }
                        
                        &.is-disabled {
                            opacity: 0.5;
                            background-color: grey;
                        }
                    }
                }
                .projDetailTab__sideRect{
                    @include fc;
                    justify-content: flex-start;
                    width: 11%;
                    background-color: $color-04;
                    height: auto;
                }
                .projDetailTab__sideRect-Top{
                    width: 100%;
                    background-color: $color-06;
                    height: 72px;
                }

            }
            .contactPage{
                animation: transitionIn 2s;
                .contactMain{
                    @include fr;
                    justify-content: center;
                    width: 100%;
                    height: 435px;
                    .contactImage{
                        @include fr;
                        justify-content: flex-start;
                        background-color: $color-06;
                        width: 497px;
                        height: 100%;
                    }
                }
                .contactMain__Side{
                    @include fc;
                    justify-content: flex-start;
                    width: 111px;
                    height: 100%;
                    background-color: $color-01;
                }
                .contactMain__Info{
                    @include fc;
                    justify-content: flex-start;
                    width: 385px;
                    height: 100%;
                    background-color: $color-04;
                }
                .contactMain__Info-Heading{
                    @include fr;
                    justify-content: flex-start;
                    color: $color-08;
                    font-family: 'Sunflower-Medium';
                    font-size: 36px;
                    padding: 48px 0px 0px 29px;
                }
                .contactMain__Info-Intro{
                    @include fr;
                    justify-content: flex-start;
                    color: $color-01;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                    line-height: 33px;
                    padding: 15px 50px 0px 29px;
                }
                .form{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    color: $color-01;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                    line-height: 33px;
                    padding: 15px 50px 0px 29px;
                    textarea{
                        height: 100px;
                    }
                }
                .submit{
                    width: 100px;
                    height: 40px;
                    margin-top: 20px;
                    background-color: $color-01;
                    color: $color-06;
                    font-family: 'IBMPlexSans';
                    font-size: 16px;
                }
            }
        }
    }


    //************** MAIN STYLING ENDS **************
    //************** MEDIA QUERIES STARTS **************


    @media (min-width: 760px)
    and (max-width: 1099px){
        
        .app{
            width: 750px;
            .header{
                .branding{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    
                    .name{
                        margin: 0px 0px 0px 50px;
                    }
                    .industry{
                        flex-direction: row;
                        margin: -8px 0px 25px 127px;
                        .line1{
                            margin-right: 5px;
                        }
                    }
                }
                // .burgerMenu{

                // }
                .navigation{
                    .navigation__menu{
                        padding-right: 50px
                    }
                }
            }
            .content{
                .homeGallery{
                    .homeGallery__Main{
                        .homeGallery__MainCard-h {
                            display: none;
                        }
                        .homeGallery__MainCard-d {
                            display: none;
                        }
                    }
                
                    .homeGallery__More {
                        .loadMoreContent{
                            // .cardI{
                            //     display: flex;
                            // }
                            .cardJ{
                                display: none;
                            }
                            // .cardK{
                            //     display: flex;
                            // }
                            // .cardL{
                            //     display: flex;
                            // }
                        }
                    }
                }
                .projectContainer{
                    .projMain{
                        .projMain__Left{

                            .projMain__Left-Nav{
                                .Num{
                                    font-size: 6.1em;
                                }
                                .Prev{
                                    padding: 38px 14px 0 14px;
                                }
                                .Next{
                                    padding: 0px 14px 0 14px;
                                }
                            }
                        }
                    }
                    .projDetailTab{
                        .Collapsible {
                            width: 89%;
                            .carousel{
                                .carousel__blurb-bottom{
                                    .prevSlide {
                                        margin-right: 15px;
                                    }
                                    .nextSlide {
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media  (min-width: 660px)
    and (max-width: 759px) {
        .app{
            width: 650px;
            .header{
                .branding{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    
                    .name{
                        margin: 0px 0px 0px 30px;
                    }
                    .industry{
                        flex-direction: row;
                        margin: -8px 0px 25px 107px;
                        .line1{
                            margin-right: 5px;
                        }
                    }
                }
                // .burgerMenu{

                // }
                .navigation{
                    .navigation__menu{
                        padding-right: 30px;
                        width: 64%;
                    }
                }
            }
            .content{
                .homeGallery{
                    .homeGallery__Main{
                        .homeGallery__MainCard-h {
                            display: none;
                        }
                        .homeGallery__MainCard-d {
                            display: none;
                        }
                    }
                
                    .homeGallery__More {
                        .loadMoreContent{
                            // .cardI{
                            //     display: flex;
                            // }
                            .cardJ{
                                display: none;
                            }
                            // .cardK{
                            //     display: flex;
                            // }
                            // .cardL{
                            //     display: flex;
                            // }
                        }
                    }
                }
                .projectContainer{
                    .projMain{
                        .projMain__Left{
                            
                            .projMain__Left-Nav{
                                .Num{
                                    font-size: 5.4em;
                                    margin: 6% 12% 0 0;
                                }
                                .Prev{
                                    padding: 38px 8px 0 8px;
                                }
                                .Next{
                                    padding: 0px 8px 0 8px;
                                }
                            }
                        }
                    }
                    .projDetailTab{
                        .Collapsible {
                            width: 89%;
                            .carousel{
                                .carousel__blurb-bottom{
                                    .prevSlide {
                                        margin-right: 15px;
                                    }
                                    .nextSlide {
                                        margin-left: 15px;
                                    }
                                }
                            }
                            span{
                                padding-right: 65%;
                            }
                        }
                    }
                }
            }
        
            .footer__copyright {
                margin: 38px 30px 0px 0px;
            }
        }
    }
    @media (min-width: 400px)
    and (max-width: 659px){
        .app{
            width: 650px;
            .header{
                .branding{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    
                    .name{
                        margin: 0px 0px 0px 30px;
                    }
                    .industry{
                        flex-direction: row;
                        margin: -8px 0px 25px 107px;
                        .line1{
                            margin-right: 5px;
                        }
                    }
                }
                // .burgerMenu{

                // }
                .navigation{
                    .navigation__menu{
                        padding-right: 30px;
                        width: 64%;
                    }
                }
            }
            .content{
                .homeGallery{
                    .homeGallery__Main{
                        .homeGallery__MainCard-h {
                            display: none;
                        }
                        .homeGallery__MainCard-d {
                            display: none;
                        }
                    }
                
                    .homeGallery__More {
                        .loadMoreContent{
                            // .cardI{
                            //     display: flex;
                            // }
                            .cardJ{
                                display: none;
                            }
                            // .cardK{
                            //     display: flex;
                            // }
                            // .cardL{
                            //     display: flex;
                            // }
                        }
                    }
                }
                .projectContainer{
                    .projMain{
                        .projMain__Left{
                            
                            .projMain__Left-Nav{
                                .Num{
                                    font-size: 5.4em;
                                    margin: 6% 12% 0 0;
                                }
                                .Prev{
                                    padding: 38px 8px 0 8px;
                                }
                                .Next{
                                    padding: 0px 8px 0 8px;
                                }
                            }
                        }
                    }
                    .projDetailTab{
                        .Collapsible {
                            width: 89%;
                            .carousel{
                                .carousel__blurb-bottom{
                                    .prevSlide {
                                        margin-right: 15px;
                                    }
                                    .nextSlide {
                                        margin-left: 15px;
                                    }
                                }
                            }
                            span{
                                padding-right: 65%;
                            }
                        }
                    }
                }
            }
        
            .footer__copyright {
                margin: 38px 30px 0px 0px;
            }
        }
    }
    @media (min-width: 328px)
    and (max-width: 399px){
        .app{
            width: 100%;
            .header{
                justify-content: flex-end;
                height: 125.39px;
                .branding{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: auto;
                    margin-right: 7%;
                    
                    .name{
                        font-size: 42px;
                        margin: 0px 0px 0px 0px
                    }
                    .industry{
                        flex-direction: row;
                        margin: -7px 0px 13px 0px;
                        font-size: 21px;
                        .line1{
                            margin-right: 5px;
                        }
                    }
                }
                .burgerMenu{
                    display: flex;
                    width: 84.38px;
                    height: 100%;
                    background-color: $color-01;
                }
                .navigation{
                    display: none;
                }
            }
            .content{
                .homeGallery{
                    .homeGallery__Main{
                        .homeGallery__MainCard-h {
                            display: none;
                        }
                        .homeGallery__MainCard-d {
                            display: none;
                        }
                    }
                
                    .homeGallery__More {
                        .loadMoreContent{
                            // .cardI{
                            //     display: flex;
                            // }
                            .cardJ{
                                display: none;
                            }
                            // .cardK{
                            //     display: flex;
                            // }
                            // .cardL{
                            //     display: flex;
                            // }
                        }
                    }
                }
                .projectContainer{
                    .projMain{
                        flex-direction: column-reverse;
                        .projMain__Left{
                            flex-direction: row-reverse;
                            width: 100%;
                            .projMain__Left-Nav{
                                width: 22.8%;
                                .Num{
                                    font-size: 5.4em;
                                    margin: 10% 0% 0% 38%;
                                }
                                .Prev{
                                    padding: 38px 13px 0 13px;
                                }
                                .Next{
                                    padding: 6px 13px 0px 13px;
                                }
                            }
                            .projMain__Left-Info{
                                width: 90%;
                            }
                        }
                        .projMain__Image{
                            width: 100%;
                        }
                    }
                    .projDetailTab{
                        .Collapsible {
                            width: 100%;
                            .carousel{
                                flex-direction: column;
                                .carousel__blurb-bottom{
                                    .prevSlide {
                                        margin-right: 15px;
                                    }
                                    .nextSlide {
                                        margin-left: 15px;
                                    }
                                }
                            }
                            .carousel__image{
                                width: 100%;
                            }
                            .carousel__blurb {
                                display: flex;
                                flex-direction: column-reverse;
                                width: 100%;
                            }
                        }
                        .Collapsible__trigger {

                            &:after {
                                right: 8%;
                            }
                            
                            &.is-open {
                                &:after {
                                transform: rotateZ(45deg);
                                }
                            }
                            
                            &.is-disabled {
                                opacity: 0.5;
                                background-color: grey;
                            }
                        }
                        .projDetailTab__sideRect{
                            display: none;
                        }
                    }
                }
            }
        
            .footer__copyright {
                margin: 38px 30px 0px 0px;
            }
        }
    }
    // @media (min-width: 0px)
    // and (max-width: 327px){}


    //************** MEDIA QUERIES ENDS **************

}


